@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
body{
  margin: 0;
  color: black;
  background-color: white;
}
.app{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: grid;
    font-family: "Gowun Batang", serif;
}
.content{
  display: flex;
  padding: 0px;
}